{{ partial "header" . }}

<header>
  <div class="logo">
    <img src="{{ .Site.BaseURL }}img/logo.svg">
  </div>
  <!-- <div class="logo&#45;append"> -->
  <!--   <div>experience</div> -->
  <!--   <div>creators</div> -->
  <!-- </div> -->
</header>

<!-- <nav>
  <div><h2>wie</h2></div>
  <div><h2>wat</h2></div>
  </nav> -->

<div class="container opening"></div>

<div class="container first">
  <div class="prev">
  <div class="logo">
    <img src="{{ .Site.BaseURL }}img/logo.svg">
  </div>
  <div class="text">
    <h3>Wie zijn wij</h3>
    <p>Ella Gil en Swaantje Nijkamp geven leiding aan Buro Curious. Onze samenwerking startte twaalf jaar geleden op de theaterschool. Deze groeide acht jaar geleden uit tot Buro Curious. We hebben ons in de loop der jaren geschoold en ontwikkeld in verschillende kunstdisciplines waarbij makerschap altijd centraal heeft gestaan. Bij Buro Curious hebben we ons gespecialiseerd in de rol van regisseur van totaalbeleving.</p><p>We hebben een enthousiast en vakkundig team ter beschikking, die op vraag ingezet kunnen worden. Onder hen bevinden zich o.a. performers, muzikanten, vormgevers, dansers, stylisten en fotografen.</p>
  </div>
  <div class="next">
</div>
<div class="container second">
  <div class="prev">
  <div class="logo">
    <img src="{{ .Site.BaseURL }}img/logo.svg">
  </div>
  <div class="text">
    <h3>Wie zijn wij</h3>
    <p>Ella Gil en Swaantje Nijkamp geven leiding aan Buro Curious. Onze samenwerking startte twaalf jaar geleden op de theaterschool. Deze groeide acht jaar geleden uit tot Buro Curious. We hebben ons in de loop der jaren geschoold en ontwikkeld in verschillende kunstdisciplines waarbij makerschap altijd centraal heeft gestaan. Bij Buro Curious hebben we ons gespecialiseerd in de rol van regisseur van totaalbeleving.We hebben een enthousiast en vakkundig team ter beschikking, die op vraag ingezet kunnen worden. Onder hen bevinden zich o.a. performers, muzikanten, vormgevers, dansers, stylisten en fotografen.</p>
  </div>
  <div class="next">
</div>
{{ partial "footer" . }}
